$primary-Color: var(--primary-color);
$secundary-Color: var(--secundary-color);

// Mobile
@media screen and (max-width: 430px){
    .SkillsContent{
        margin: 50px 0;
        .SkillsTitle{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            h1{
                color: $primary-Color;
                font-size: 3.5em;
                -webkit-text-stroke: 0.5px $secundary-Color;
                -moz-text-shadow: 0px 0px 30px $secundary-Color;
                -webkit-text-shadow: 0px 0px 30px #fff;
                text-shadow: 0px 0px 30px $secundary-Color;
            }
        }
    }
    .SkillsList{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        .techIcon{
            display: grid;
            grid-template-columns: 100px 100px;
            grid-template-columns: 120px 120px;
            gap: 20px;
            .techDiv{
                border: $primary-Color solid 1px;
                box-shadow: 0px 0px 30px $secundary-Color;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .icon{
                    height: 60px;
                    color: $primary-Color;
                }
                span{
                    font-size: 20px;
                    color: white;
                    -webkit-text-stroke: 0.5px $primary-Color;
                    -moz-text-shadow: 0px 0px 30px $primary-Color;
                    -webkit-text-shadow: 0px 0px 30px #fff;
                    text-shadow: 0px 0px 30px $primary-Color;
                }
            }
            .techDiv:hover{
                background: $primary-Color;
                .icon{
                    color: $secundary-Color;
                }
                span{
                    color: $secundary-Color;
                    -webkit-text-stroke: 0.5px $secundary-Color;
                    -moz-text-shadow: 0px 0px 30px $secundary-Color;
                    -webkit-text-shadow: 0px 0px 30px #fff;
                    text-shadow: 0px 0px 30px $secundary-Color;
                }
            }
            #inProgress::after{
                content: 'In Progress';
                font-size: 12px;
                position: absolute;
                background-color: $secundary-Color;
                color: white;
                margin: 0 0 75px 75px;
                text-align: center;
                rotate: 20deg;
                width: 17%;
            }
        }
    }
}

// Monitor
@media screen and (min-width: 1024px){
    .SkillsContent{
        margin: 50px 0;
        .SkillsTitle{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            h1{
                color: $primary-Color;
                font-size: 4.5em;
                -webkit-text-stroke: 0.5px $secundary-Color;
                -moz-text-shadow: 0px 0px 30px $secundary-Color;
                -webkit-text-shadow: 0px 0px 30px #fff;
                text-shadow: 0px 0px 30px $secundary-Color;
            }
        }
    }
    .SkillsList{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        .techIcon{
            display: grid;
            grid-template-columns: 150px 150px 150px 150px 150px;
            gap: 50px;
            .techDiv{
                border: $primary-Color solid 1px;
                box-shadow: 0px 0px 30px $secundary-Color;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 5px 0px;
                .icon{
                    height: 100px;
                    color: $primary-Color;
                }
                span{
                    font-size: 25px;
                    color: white;
                    -webkit-text-stroke: 0.5px $primary-Color;
                    -moz-text-shadow: 0px 0px 30px $primary-Color;
                    -webkit-text-shadow: 0px 0px 30px #fff;
                    text-shadow: 0px 0px 30px $primary-Color;
                }
            }
            .techDiv:hover{
                background: $primary-Color;
                .icon{
                    color: $secundary-Color;
                }
                span{

                    color: $secundary-Color;
                    -webkit-text-stroke: 0.5px $secundary-Color;
                    -moz-text-shadow: 0px 0px 30px $secundary-Color;
                    -webkit-text-shadow: 0px 0px 30px #fff;
                    text-shadow: 0px 0px 30px $secundary-Color;
                }
            }
            #inProgress::after{
                content: 'In Progress';
                font-size: 17px;
                position: absolute;
                background-color: $secundary-Color;
                color: white;
                margin: 0 0 120px 100px;
                text-align: center;
                rotate: 20deg;
                width: 5%;
            }
        }
    }
}