$primary-Color: var(--primary-color);
$secundary-Color: var(--secundary-color);

// Mobile
@media screen and (max-width: 430px){
.AboutContent{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .AboutTitle{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        h1{
            color: $secundary-Color;
            font-size: 3.5em;
            -webkit-text-stroke: 0.5px $primary-Color;
                -moz-text-shadow: 0px 0px 30px $primary-Color;
                -webkit-text-shadow: 0px 0px 30px #fff;
                text-shadow: 0px 0px 30px $primary-Color;
        }
    }
    .AboutImage{
        display: flex;
        align-items: center;
        justify-content: center;
        #N1{
            border: 11px solid $primary-Color;
            width: 400px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            padding: 10px;
            
            #N2{
                position: absolute;
                border: 11px solid $primary-Color;
                width: 80%;
                height: 38%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 9999px;
                padding: 20px;
                animation: contraer 3s linear infinite;
                #N3{
                    width: 90%;
                    height: 90%;
                    border: 11px solid $primary-Color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 9999px;
                    padding: 15px;
                    position: absolute;
                    .image{
                        background: url('../../../public/images/4.png');
                    }

                    button{
                        width: 100%;   
                        height: 100%;
                        border-radius: 9999px;
                        img{
                            width: 100%;
                            height: 100%;
                            animation: expand 3s linear infinite;
                            box-shadow: 1px 2px 2px $secundary-Color, 0 0 5em $secundary-Color, 0 0 5em $secundary-Color;;
                        }
                        .CvButton{
                            background-color: $secundary-Color;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: azure;
                            font-size: 40px;
                            width: 100%;
                            height: 100%;
                            border-radius: 9999px;

                            a{
                                background-color: #000000;
                                width: 100px;
                                color: #ffffffd3;
                                animation: colorDisolution 5s linear infinite ;
                                border-radius: 9999px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100px;
                                border: #ffffff dashed 2px;
                            }

                        }
                    }
                }
            }
        }
        
    }
    .AboutText{
        width: 90%;
        height: 40%;
        

        .AboutChanger{
            color: #fff;
            position: absolute;
            right: 2.5em;
            background-color: $secundary-Color;
            border-radius: 20%;
            padding: 5px;
            margin-top: 15px;
        }
        
        #InfoCode{
            background-color: #41498c5c;
            border-radius: 10%;
            padding: 15px;
            color: #ffffff;
            div{
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                font-size: 18px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                #text1{
                    color: #eaeaea
                }
                #keywords{
                    color: $secundary-Color;
                }

                #strings{
                    color: #dccf67;
                }

                #simbols{
                    color: $primary-Color;
                }
            }
            #AboutObject{
                display: flex;
                flex-direction: column;
                gap: 0;
            }
        }
    }
}
}


@keyframes expand {
    0%{
    }
    50%{
        
        transform: scale(1.1);
    }
}

@keyframes contraer {
    0%{

    }
    50%{
        transform: scale(0.98);
    }
}

@keyframes colorDisolution{
    50%{
        background-color: #00000087;
        color: #ffffff;
    }
}