$primary-Color: var(--primary-color);

//Mobile design
@media screen and (max-width: 430px) {
    #navbar {
        color: #ffffff;
        margin-bottom: 20%;
        margin-left: 0px;
        .nav-container {
            
            .burger-link-container {
                .btn {
                    position: absolute;
                    right: 10px;
                    top: 35px;
                    background: none;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    z-index: 60;
                    

                    #div-01{
                        border: 1px solid;
                        width: 40px;
                        margin-bottom: -2px;
                        rotate: 45grad;
                    }

                    #div-02{
                        display: none;
                    }

                    #div-03{
                        border: 1px solid;
                        width: 40px;
                        rotate: -45grad;
                    }
                }

                .btn-active{
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    background: none;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    z-index: 60;

                    #div-01{
                        border: 1px solid;
                        
                        width: 35px;
                        margin-bottom: 10px;
                    }

                    #div-02{
                        border: 1px solid;
                        width: 35px;
                        margin-bottom: 10px;
                    }

                    #div-03{
                        border: 1px solid;
                        width: 35px;
                        margin-bottom: 10px;
                    }
                }

                .li-container {
                    position: absolute;
                    transition: .7s;
                    left: 0;
                    top: 0;
                    background-image: url('https://wallpapers.com/images/featured/high-resolution-blue-background-g09nt3i1k5w4dpc1.jpg');
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 16px 14px 20px #000000;
                    overflow: hidden;
                    z-index: 40;

                    h2{
                        text-align: center;
                        margin-left: 10px;
                        margin-top: 20px;
                        font-size: 30px;
                        width: 40px;
                    }
                    #colorChanger{
                        background-color: $primary-Color;
                        margin-top: 10px;
                        margin-left: 10px;
                        transition: 1s;
                    }
                    #colorChanger:active{
                        transform: scale(0.5);
                    }
                    
                    ul {
                        flex-direction: column;
                        padding-left: 10px;
                        height: 60%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        li {
                            list-style: none;
                            text-align: center;

                            a {
                                font-size: 25px;
                            }
                        }
                    }
                }

                .li-container-active {
                    position:absolute;
                    transition: .7s;
                    left: 0;
                    top: -100vh;
                    background-image: url('https://wallpapers.com/images/featured/high-resolution-blue-background-g09nt3i1k5w4dpc1.jpg');
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    z-index: 40;

                    h2{
                        text-align: center;
                        margin-left: 10px;
                        margin-top: 20px;
                        font-size: 30px;
                        width: 40px;
                    }
                    #colorChanger{
                        background-color: $primary-Color;
                        margin-top: 10px;
                        margin-left: 10px;
                        transition: 1s;
                    }
                    
                    ul {
                        flex-direction: column;
                        padding-left: 10px;
                        height: 60%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        li {
                            list-style: none;
                            text-align: center;
                            
                            a {
                                z-index: 20;
                                font-size: 25px;
                            }
                        }
                    }
                }

            }
        }
    }
}
