$primary-Color: var(--primary-color);
$secundary-Color: var(--secundary-color);

//Mobile design
@media screen and (max-width: 430px) {
    #navbar {
        color: #ffffff;
        margin-bottom: 20%;
        margin-left: 0px;
        .nav-container {
            
            .burger-link-container {
                .btn {
                    position: absolute;
                    right: 10px;
                    top: 35px;
                    background: none;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    z-index: 60;
                    

                    #div-01{
                        border: 1px solid;
                        width: 40px;
                        margin-bottom: -2px;
                        rotate: 45grad;
                    }

                    #div-02{
                        display: none;
                    }

                    #div-03{
                        border: 1px solid;
                        width: 40px;
                        rotate: -45grad;
                    }
                }

                .btn-active{
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    background: none;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    z-index: 60;

                    #div-01{
                        border: 1px solid;
                        
                        width: 35px;
                        margin-bottom: 10px;
                    }

                    #div-02{
                        border: 1px solid;
                        width: 35px;
                        margin-bottom: 10px;
                    }

                    #div-03{
                        border: 1px solid;
                        width: 35px;
                        margin-bottom: 10px;
                    }
                }

                .li-container {
                    position: absolute;
                    transition: 1s;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    border: solid 10px $primary-Color;
                    background: linear-gradient(to bottom, $secundary-Color 15%, #00000010 90%);
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    z-index: 40;

                    h2{
                        text-align: center;
                        margin-left: 10px;
                        margin-top: 20px;
                        font-size: 30px;
                        width: 40px;
                        transition: 1s;
                    }
                    #colorChanger{
                        background-color: $primary-Color;
                        margin-top: 10px;
                        margin-left: 10px;
                        transition: 1s;
                    }
                    #colorChanger:active{
                        transform: scale(0.5);
                    }
                    
                    ul {
                        width: 55%;
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        align-self: center;
                        li {
                            list-style: none;
                            text-align: center;
                            a {
                                transition: 1s;
                                padding: 10px;
                                border: 1px solid #000;
                                border-radius: 9999px;
                                background-color: #000000d3;
                                color: $primary-Color;
                                font-size: 2.1em;
                                -webkit-text-stroke: 0.5px $primary-Color;
                                -moz-text-shadow: 0px 0px 30px $primary-Color;
                                -webkit-text-shadow: 0px 0px 30px $primary-Color;
                                text-shadow: 0px 0px 50px $primary-Color;
                            }
                        }
                    }
                }

                .li-container-active {
                    position:absolute;
                    transition: .7s;
                    left: 0;
                    top: -100vh;
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    z-index: 40;
                    background: linear-gradient(to bottom, $secundary-Color 15%, #00000010 90%);
                    h2{
                        text-align: center;
                        margin-left: 10px;
                        margin-top: 20px;
                        font-size: 30px;
                        width: 40px;
                    }
                    #colorChanger{
                        background-color: $primary-Color;
                        margin-top: 10px;
                        margin-left: 10px;
                        transition: 1s;
                    }
                    
                    ul {
                        width: 55%;
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        align-self: center;
                        li {
                            list-style: none;
                            text-align: center;
                            a {
                                padding: 10px;
                                border: 1px solid #000;
                                border-radius: 9999px;
                                background-color: #00000088;
                                color: $primary-Color;
                                font-size: 2.1em;
                                -webkit-text-stroke: 0.5px $primary-Color;
                                -moz-text-shadow: 0px 0px 30px $primary-Color;
                                -webkit-text-shadow: 0px 0px 30px $primary-Color;
                                text-shadow: 0px 0px 50px $primary-Color;
                            }
                        }
                    }
                }

            }
        }
    }
}

// Monitor
@media screen and (min-width: 1024px){
    #navbar{
        .nav-container{
            .burger-link-container{
                background: linear-gradient(to bottom, $secundary-Color 15%, #00000010 90%);
                transition: 1s;
                #buttonChanger{
                    display: none;
                }
                #navList{
                    transition: 1s;
                    box-shadow: -10px -300px 20px $secundary-Color;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    padding: 10px;
                    #configEnv{
                        display: flex;
                        flex-direction: row;
                        width: 10%;
                        align-items: center;
                        justify-content: space-between;
                        #lenguageChanger{
                            font-size: 2rem;
                            border-radius: 9999px;
                            background: linear-gradient(to top, #00000010 15%, #000000db 90%);
                            color: $primary-Color;
                            padding: 5px 10px;
                            -webkit-text-stroke: 0.5px $primary-Color;
                            -moz-text-shadow: 0px 0px 30px $primary-Color;
                            -webkit-text-shadow: 0px 0px 30px $primary-Color;
                            text-shadow: 0px 0px 50px $primary-Color;
                            transition: 1s;
                        }
                        #lenguageChanger:hover{
                            cursor: pointer;
                        }
                        #colorChanger{
                            background-color: $primary-Color;
                            transition: 1s;
                        }
                        #colorChanger:active{
                            transform: scale(0.5);
                        }
                    }
                    #seccionChanger{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        li {
                            list-style: none;
                            text-align: center;
                            margin-right: 15px;
                            a {
                                padding: 10px;
                                border: 1px solid #000;
                                border-radius: 9999px;
                                background-color: #000000d3;
                                color: $primary-Color;
                                font-size: 1em;
                                -webkit-text-stroke: 0.5px $primary-Color;
                                -moz-text-shadow: 0px 0px 30px $primary-Color;
                                -webkit-text-shadow: 0px 0px 30px $primary-Color;
                                text-shadow: 0px 0px 50px $primary-Color;
                                transition: 1s;
                            }
                        }
                        li:hover{
                            a{
                                background-color: #000;
                                color: white;
                                -webkit-text-stroke: 0.5px white;
                                -moz-text-shadow: 0px 0px 30px white;
                                -webkit-text-shadow: 0px 0px 30px white;
                                text-shadow: 0px 0px 50px white;
                            }
                        }
                    }
                }
            }
        }
    }
}
