@media screen and (max-width: 430px) {
  #navbar {
    color: #ffffff;
    margin-bottom: 20%;
    margin-left: 0px;
  }
  #navbar .nav-container .burger-link-container .btn {
    position: absolute;
    right: 10px;
    top: 35px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    z-index: 60;
  }
  #navbar .nav-container .burger-link-container .btn #div-01 {
    border: 1px solid;
    width: 40px;
    margin-bottom: -2px;
    rotate: 45grad;
  }
  #navbar .nav-container .burger-link-container .btn #div-02 {
    display: none;
  }
  #navbar .nav-container .burger-link-container .btn #div-03 {
    border: 1px solid;
    width: 40px;
    rotate: -45grad;
  }
  #navbar .nav-container .burger-link-container .btn-active {
    position: absolute;
    right: 10px;
    top: 20px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    z-index: 60;
  }
  #navbar .nav-container .burger-link-container .btn-active #div-01 {
    border: 1px solid;
    width: 35px;
    margin-bottom: 10px;
  }
  #navbar .nav-container .burger-link-container .btn-active #div-02 {
    border: 1px solid;
    width: 35px;
    margin-bottom: 10px;
  }
  #navbar .nav-container .burger-link-container .btn-active #div-03 {
    border: 1px solid;
    width: 35px;
    margin-bottom: 10px;
  }
  #navbar .nav-container .burger-link-container .li-container {
    position: absolute;
    transition: 1s;
    left: 0;
    top: 0;
    width: 100vw;
    border: solid 10px var(--primary-color);
    background: linear-gradient(to bottom, var(--secundary-color) 15%, rgba(0, 0, 0, 0.062745098) 90%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 40;
  }
  #navbar .nav-container .burger-link-container .li-container h2 {
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 30px;
    width: 40px;
    transition: 1s;
  }
  #navbar .nav-container .burger-link-container .li-container #colorChanger {
    background-color: var(--primary-color);
    margin-top: 10px;
    margin-left: 10px;
    transition: 1s;
  }
  #navbar .nav-container .burger-link-container .li-container #colorChanger:active {
    transform: scale(0.5);
  }
  #navbar .nav-container .burger-link-container .li-container ul {
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
  #navbar .nav-container .burger-link-container .li-container ul li {
    list-style: none;
    text-align: center;
  }
  #navbar .nav-container .burger-link-container .li-container ul li a {
    transition: 1s;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.8274509804);
    color: var(--primary-color);
    font-size: 2.1em;
    -webkit-text-stroke: 0.5px var(--primary-color);
    -moz-text-shadow: 0px 0px 30px var(--primary-color);
    -webkit-text-shadow: 0px 0px 30px var(--primary-color);
    text-shadow: 0px 0px 50px var(--primary-color);
  }
  #navbar .nav-container .burger-link-container .li-container-active {
    position: absolute;
    transition: 0.7s;
    left: 0;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 40;
    background: linear-gradient(to bottom, var(--secundary-color) 15%, rgba(0, 0, 0, 0.062745098) 90%);
  }
  #navbar .nav-container .burger-link-container .li-container-active h2 {
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 30px;
    width: 40px;
  }
  #navbar .nav-container .burger-link-container .li-container-active #colorChanger {
    background-color: var(--primary-color);
    margin-top: 10px;
    margin-left: 10px;
    transition: 1s;
  }
  #navbar .nav-container .burger-link-container .li-container-active ul {
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
  #navbar .nav-container .burger-link-container .li-container-active ul li {
    list-style: none;
    text-align: center;
  }
  #navbar .nav-container .burger-link-container .li-container-active ul li a {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.5333333333);
    color: var(--primary-color);
    font-size: 2.1em;
    -webkit-text-stroke: 0.5px var(--primary-color);
    -moz-text-shadow: 0px 0px 30px var(--primary-color);
    -webkit-text-shadow: 0px 0px 30px var(--primary-color);
    text-shadow: 0px 0px 50px var(--primary-color);
  }
}
@media screen and (min-width: 1024px) {
  #navbar .nav-container .burger-link-container {
    color: white;
    background: linear-gradient(to bottom, var(--secundary-color) 15%, rgba(0, 0, 0, 0.062745098) 90%);
    transition: 1s;
  }
  #navbar .nav-container .burger-link-container #buttonChanger {
    display: none;
  }
  #navbar .nav-container .burger-link-container #navList {
    transition: 1s;
    box-shadow: -10px -300px 20px var(--secundary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  #navbar .nav-container .burger-link-container #navList #configEnv {
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    justify-content: space-between;
  }
  #navbar .nav-container .burger-link-container #navList #configEnv #lenguageChanger {
    font-size: 2rem;
    color: var(--primary-color);
    padding: 5px 10px;
    border: 1px solid var(--secundary-color);
  }
  #navbar .nav-container .burger-link-container #navList #configEnv #lenguageChanger:hover {
    cursor: pointer;
  }
  #navbar .nav-container .burger-link-container #navList #configEnv #colorChanger {
    background-color: var(--primary-color);
    transition: 1s;
  }
  #navbar .nav-container .burger-link-container #navList #configEnv #colorChanger:active {
    transform: scale(0.5);
  }
  #navbar .nav-container .burger-link-container #navList #seccionChanger {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #navbar .nav-container .burger-link-container #navList #seccionChanger li {
    list-style: none;
    text-align: center;
    margin-right: 15px;
  }
  #navbar .nav-container .burger-link-container #navList #seccionChanger li a {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.8274509804);
    color: var(--primary-color);
    font-size: 1em;
    -webkit-text-stroke: 0.5px var(--primary-color);
    -moz-text-shadow: 0px 0px 30px var(--primary-color);
    -webkit-text-shadow: 0px 0px 30px var(--primary-color);
    text-shadow: 0px 0px 50px var(--primary-color);
    transition: 1s;
  }
  #navbar .nav-container .burger-link-container #navList #seccionChanger li:hover a {
    background-color: #000;
    color: white;
    -webkit-text-stroke: 0.5px white;
    -moz-text-shadow: 0px 0px 30px white;
    -webkit-text-shadow: 0px 0px 30px white;
    text-shadow: 0px 0px 50px white;
  }
}/*# sourceMappingURL=navbar.css.map */